	<h2 class="title">Reset Password</h2>
	
	<div *ngIf="errors && errors.length > 0"
		class="alert alert-danger" role="alert">
	
		<div><strong>You Have Errors</strong></div>
		<div *ngFor="let error of errors">{{ error }}</div>
	</div>

	<div *ngIf="messages && messages.length > 0"
			class="alert alert-success" role="alert">
		<div><strong>Success!</strong></div>
		<div *ngFor="let message of messages">{{ message }}</div>
		
	</div>

<div>
	<mat-form-field appearance="outline">
		<mat-label>Email*</mat-label>
		<input matInput 
			placeholder="Enter Your Email"
			[formControl]="emailForm.get('email')">

			<mat-error
			*ngIf="emailForm.get('email').hasError('required') ||
					emailForm.get('email').hasError('email') ||
					emailForm.get('email').dirty">
			Valid Email is <strong>required</strong>
		</mat-error>
	</mat-form-field>
	<button mat-raised-button color="primary" 
		(click)="onSubmit()"
		[disabled]="emailForm.get('email').invalid">Submit</button>
</div>

