<nb-card>
	<ng-template #modalContent let-close="close">
		<div class="modal-header">
			<h5 class="modal-title">{{ modalData?.event?.title }}
				<ng-container *ngIf="authService.isAuthenticated() && 
													!eventsService.isOIC(modalData.event.meta &&
													!modalData.event.meta.isClosed)">
					<ng-container *ngIf="eventsService.isSignedUp(modalData.event.meta)">
							<button 
									type="button" class="btn btn-outline-primary"
									(click)="unregister()">Unregister</button>
					</ng-container>

					<ng-container *ngIf="!eventsService.isSignedUp(modalData.event.meta) &&
												!eventsService.isPending(modalData.event.meta)">
							<button 
									type="button" class="btn btn-outline-primary"
									(click)="userPending()">Sign Up</button>
					</ng-container>

				<ng-container *ngIf="!eventsService.isSignedUp(modalData.event.meta) &&
														eventsService.isPending(modalData.event.meta)">
						<button 
								type="button" class="btn btn-outline-primary"
								(click)="unregister()">Pending</button>
				</ng-container>

				</ng-container>

			</h5>

				<button type="button" class="close" (click)="close()">
					<span aria-hidden="true">&times;</span>
				</button>
		</div>

		<div class="modal-body">
			<nb-card>
				<nb-card-body>
					<!--- ALL THE FIELDS WOULD GO HERE IN SOME SORT OF STYLED ORDER-->
		 <!--- ACCESS THE DAT USEING {{ modalData.event.meta.FIELDNAME}}-->
		 			<div>
						Event Date <pre>{{ parseDate(modalData?.event?.start) }} to {{ parseDate(modalData?.event?.end) }} </pre>
					</div>

					<div *ngIf="modalData.event.meta.summary">
						Event Summary
						<pre> {{ modalData?.event?.meta?.summary }} </pre>
					</div>

					<ng-container *ngIf="modalData.event.meta.OIC">
						<div *ngIf="modalData.event.meta.OIC?.length > 0"> Assigned OIC
							<mat-list>
								<pre>
									<mat-list-item *ngFor="let user of modalData.event.meta.OIC">
										<nb-user [name]="user?.lastName + ',' + user?.firstName" 
												[title]="user?.rank">
										</nb-user>
									</mat-list-item>
								</pre>
							</mat-list>
						</div>
					</ng-container>

					<ng-container *ngIf="!modalData.event.meta.isClosed &&
															(eventsService.isOIC(modalData.event.meta.OIC) ||
															authService.isAdmin())">
						<div>Signed Up 
							<ng-container *ngIf="modalData.event.meta.signedUp.length> 0; 
												else NoUsersSignedUp">
								<mat-list>
									<pre>
										<mat-list-item *ngFor="let user of modalData.event.meta.signedUp">
											<nb-user [name]="user?.lastName + ', ' + user?.firstName"
													[title]="user?.rank">
											</nb-user>
										</mat-list-item>
									</pre>
								</mat-list>	
							</ng-container>
						
							<ng-template #NoUsersSignedUp>
								<pre> No Users Signed Up</pre>
							</ng-template>
						</div>
					</ng-container>

					<div *ngIf="(eventsService.isOIC(modalData.event.meta) || 
											authService.isAdmin()) &&
											modalData.event.meta.pending.length> 0"> Pending
						<mat-list>
							<pre>
								<mat-list-item *ngFor="let user of modalData.event.meta.pending">
									<nb-user [name]="user?.lastName + ', ' + user?.firstName"
										[title]="user?.rank">
									</nb-user>
									<button type="button" class="btn
									btn-outline-primary">
											<i class="nb-checkmark" (click)="acceptPending(user._id)"></i>
									</button>
									<button type="button" class="btn
									btn-outline-primary">
											<i class="nb-trash" (click)="rejectPending(user._id)"></i>
									</button>
								</mat-list-item>
							</pre>
						</mat-list>
					</div>

					<ng-container *ngIf="modalData?.event?.meta?.additionalDetails?.length > 0">
						<div *ngFor="let detail of modalData?.event?.meta?.additionalDetails">
							<ng-container *ngIf="detail?.title !== '' ">{{ detail?.title }}</ng-container>
							<pre *ngIf="detail?.details !== '' ">{{ detail?.details}}</pre>
						</div>
					</ng-container>
				</nb-card-body>
			</nb-card>
		</div> 

		<div class="modal-footer">
      <button *ngIf="eventsService.isOIC(modalData.event.meta) || authService.isAdmin()"
        type="button" class="btn
				btn-outline-primary"(click)="close(); openUpdateDialog();">Edit</button>
			<button type="button" class="btn btn-outline-primary"(click)="close()">OK</button>
		</div>
	</ng-template>


	<div class="row text-center">
		<div class="col-md-4">
			<div class="btn-group">
				<div
					class="btn btn-primary"
					mwlCalendarPreviousView
					[view]="view"
					[(viewDate)]="viewDate"
					(viewDateChange)="activeDayIsOpen = false">
				Previous
      			</div>
      
				<div
					class="btn btn-outline-secondary"
					mwlCalendarToday
					[(viewDate)]="viewDate">
				Today
				</div>

      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="view = 'month'"
        [class.active]="view === 'month'">
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="view = 'week'"
        [class.active]="view === 'week'">
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="view = 'day'"
        [class.active]="view === 'day'">
        Day
      </div>
    </div>
  </div>
</div>
<br>
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>
<div *ngIf="authService.isAdmin()" class="fab-container">
	<button mat-fab 
		color="primary"
		(click)="openCreateDialog()">
		<mat-icon class="ion-plus-round">
		</mat-icon>
	</button>
</div>
</nb-card>


<nb-card>
		<mat-form-field>
				<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Event Name">
			</mat-form-field>

		<div class="mat-elevation-z8">
				<table mat-table [dataSource]="dataSource">

							<ng-container matColumnDef="title">
									<th mat-header-cell *matHeaderCellDef> Event Name </th>
									<td mat-cell *matCellDef="let element"> <button mat-button (click)="handleEvent('Clicked', element)"> {{ element.title }} </button></td>
								</ng-container>

								<ng-container matColumnDef="date">
										<th mat-header-cell *matHeaderCellDef> Date </th>
										<td mat-cell *matCellDef="let element"> {{ parseDate(element.start) }} to {{ parseDate(element.end) }}</td>
									</ng-container>

								<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
								<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
							</table>
							<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
			</div>
</nb-card>
