<h1 mat-dialog-title> Create Issue</h1>
<div mat-dialog-content>
    <mat-list>
        <mat-list-item>
            <div class=required-container>
                <p mat-line>
                    <mat-form-field>
                        <input matInput  placeholder="Name of Issue" [formControl]="nameForm" [(ngModel)]="data.name" required>
                        <mat-error *ngIf="nameForm.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </p>
            </div>
        </mat-list-item>

        <mat-list-item>
            <div class=required-container>
                <p mat-line>
                    <mat-form-field>
                        <mat-select placeholder="Severity" [formControl]="severityForm" [(ngModel)]="data.severity" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let sev of severities" [value]="sev.value">
                                {{sev.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="severityForm.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </p>
            </div>
        </mat-list-item>

        <mat-list-item>
            <p mat-line>
                <mat-form-field>
                    <input matInput placeholder="controlBox" [(ngModel)]="data.controlBox">
                </mat-form-field>
            </p>
        </mat-list-item>

        <mat-list-item>
            <p mat-line>
                <mat-form-field>
                    <input matInput placeholder="controller" [(ngModel)]="data.controller">
                </mat-form-field>
            </p>
        </mat-list-item>

        <mat-list-item>
            <p mat-line>
                <mat-form-field>
                    <input matInput placeholder="Zone" [(ngModel)]="data.zone">
                </mat-form-field>
            </p>
        </mat-list-item>

        <mat-list-item>
            <p mat-line>
                <mat-form-field>
                    <input matInput placeholder="Station" [(ngModel)]="data.station">
                </mat-form-field>
            </p>
        </mat-list-item>

        <mat-list-item>
            <p mat-line>
                <mat-form-field>
                    <input matInput placeholder="Assign To User"[(ngModel)]="data.assignedUser">
                </mat-form-field>
            </p>
        </mat-list-item>

        <mat-list-item>
            <p mat-line>
                <mat-form-field>
                    <textarea matInput placeholder="Description" matTextareaAutosize
                    matAutosizeMinRows="1"
                    matAutosizeMaxRows="3" [(ngModel)]="data.description">
                    </textarea>
                </mat-form-field>
        </p>
    </mat-list-item>

</mat-list>
<div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button [mat-dialog-close]="data" [disabled]="nameForm.invalid || severityForm.invalid">Submit</button>
    </div>
