<div class="page-layout blank p-24" fusePerfectScrollbar>

<mat-card>
    <mat-card-header>
    <mat-card-title>User Directory</mat-card-title>
    </mat-card-header>

  <mat-card-content>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="First Name">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
          <input [formControl]="row.validator.controls['firstName']" placeholder="First Name" matInput>
        </mat-form-field>
      </mat-cell>
    </ng-container>

      <ng-container matColumnDef="Last Name">
        <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
            <input [formControl]="row.validator.controls['lastName']" placeholder="Last Name" matInput>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Rank">
        <mat-header-cell *matHeaderCellDef> Rank </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
            <input [formControl]="row.validator.controls['rank']" placeholder="rank" matInput>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Flight">
        <mat-header-cell *matHeaderCellDef> Flight </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
            <input [formControl]="row.validator.controls['flight']" placeholder="flight" matInput>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Team">
        <mat-header-cell *matHeaderCellDef> Team </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
            <input [formControl]="row.validator.controls['team']" placeholder="team" matInput>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Phone">
        <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
            <input [formControl]="row.validator.controls['phone']" placeholder="phone" matInput>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
            <input [formControl]="row.validator.controls['email']" placeholder="email" matInput>
          </mat-form-field>
        </mat-cell>
      </ng-container>



    <ng-container matColumnDef="actionsColumn">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="accent" (click)="dataSource.createNew()"><i class="fa fa-plus mat-icon"></i> hello</button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button *ngIf="!row.editing" mat-icon-button color="primary" focusable="false" (click)="row.startEdit()">
              <mat-icon>edit</mat-icon>
            </button>
        <button *ngIf="row.editing" mat-icon-button color="primary" focusable="false" (click)="row.confirmEditCreate(); row.editing=false; updateUser(row);">
              <mat-icon>check</mat-icon>
            </button>
        <button mat-icon-button color="primary" focusable="false" (click)="row.cancelOrDelete()">
              <mat-icon>cancel</mat-icon>
            </button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card-content>
</mat-card>
</div>
