<div class="row">
  <div *ngFor="let update of updates" class="col-xxxl-3 col-md-6">
    <nb-card accent="active" size="small">
      <nb-card-header>{{update.title}} <span style="float: right;"><i>{{update.date.toDateString()}}</i></span></nb-card-header>
      <nb-card-body>
        {{update.content}}
      </nb-card-body>
      <nb-card-footer>
        <nb-user
        name="{{update.author.firstName + ' ' + update.author.lastName}}"
        title="{{update.author.rank}}"
        badgeText="{{update.author.team}}"
        badgeStatus="success"
        badgePosition="bottom right">
        </nb-user>
      </nb-card-footer>
    </nb-card>
  </div>