<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <nb-card accent="active">
      <nb-card-header>Title</nb-card-header>
      <nb-card-body>
        content  content  content  content  content  content  content  content  content 
        content  content  content  content  content  content  content  content  content 
        content  content  content  content  content  content  content  content  content 
      </nb-card-body>
      <nb-card-footer>
        <nb-user
        name="Jonh Doe"
        title="Engineer"
        badgeText="99+"
        badgeStatus="success"
        badgePosition="bottom right">
        </nb-user>
      </nb-card-footer>
    </nb-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
      <nb-card accent="active">
        <nb-card-header>Title</nb-card-header>
        <nb-card-body>
          content  content  content  content  content  content  content  content  content 
          content  content  content  content  content  content  content  content  content 
          content  content  content  content  content  content  content  content  content 
        </nb-card-body>
        <nb-card-footer>
          <nb-user
          name="Jonh Doe"
          title="Engineer"
          badgeText="99+"
          badgeStatus="success"
          badgePosition="bottom right">
          </nb-user>
        </nb-card-footer>
      </nb-card>
    </div>

    <div class="col-xxxl-3 col-md-6">
        <nb-card accent="active">
          <nb-card-header>Title</nb-card-header>
          <nb-card-body>
            content  content  content  content  content  content  content  content  content 
            content  content  content  content  content  content  content  content  content 
            content  content  content  content  content  content  content  content  content 
          </nb-card-body>
          <nb-card-footer>
            <nb-user
            name="Jonh Doe"
            title="Engineer"
            badgeText="99+"
            badgeStatus="success"
            badgePosition="bottom right">
            </nb-user>
          </nb-card-footer>
        </nb-card>
      </div>

  <div class="col-xxxl-3 col-md-6">
    <nb-card accent="active">
      <nb-card-header>Title</nb-card-header>
      <nb-card-body>
        content  content  content  content  content  content  content  content  content 
        content  content  content  content  content  content  content  content  content 
        content  content  content  content  content  content  content  content  content 
      </nb-card-body>
      <nb-card-footer>
        <nb-user
        name="Jonh Doe"
        title="Engineer"
        badgeText="99+"
        badgeStatus="success"
        badgePosition="bottom right">
        </nb-user>
      </nb-card-footer>
    </nb-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
      <nb-card accent="active">
        <nb-card-header>Title</nb-card-header>
        <nb-card-body>
          content  content  content  content  content  content  content  content  content 
          content  content  content  content  content  content  content  content  content 
          content  content  content  content  content  content  content  content  content 
        </nb-card-body>
        <nb-card-footer>
          <nb-user
          name="Jonh Doe"
          title="Engineer"
          badgeText="99+"
          badgeStatus="success"
          badgePosition="bottom right">
          </nb-user>
        </nb-card-footer>
      </nb-card>
    </div>
</div>