<div class="page-layout simple left-sidebar">

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="simple-left-sidebar-1" position="left" lockedOpen="gt-md">

        <!-- SIDEBAR CONTENT -->
        <div class="content p-24">
            <div class="demo-sidebar">
                <mat-nav-list>
                    <h3 matSubheader>Recent News Posts</h3>
                    <ng-container *ngFor="let update of updates">
                        <a mat-list-item (click)="updateFill(update)"> {{ update.title }} </a>
                        <mat-divider></mat-divider>
                    </ng-container>
                </mat-nav-list>
            </div>
            
        </div>
        <!-- / SIDEBAR CONTENT -->

    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
                    (click)="toggleSidebar('simple-left-sidebar-1')">
                <mat-icon>menu</mat-icon>
            </button>

            <!-- <h2 class="m-0">CA-782 News</h2> -->
            <ng-container *ngIf="updateFilled">
                <span class="mat-display-3 m-0">News</span>
            </ng-container>
            
            <ng-container *ngIf="!updateFilled">
                <span class="mat-display-3 m-0">Latest News Post</span>
            </ng-container>

        </div>
        <!-- / HEADER -->
        <!-- ADD EVENT BUTTON -->
        <button mat-fab class="fab-container mat-accent" aria-label="Add event"
            [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}"
            *ngIf="authService.isAdmin()">
            <mat-icon>add</mat-icon>
        </button>
        <!-- / ADD EVENT BUTTON -->
        <!-- CONTENT -->
        <div class="content p-24">
            <ng-container *ngIf="updateFilled">
                <span class="mat-display-2">{{update.title}}</span>
                <span class="mat-subheading-1" style="float: right">
                    <b>Posted: </b>{{update.date.toDateString()}}<br>
                    <b>Author: </b>{{update.author.firstName + ' ' + update.author.lastName}}
                </span>
                <mat-divider></mat-divider>
                <markdown [data]="markdown"></markdown>
            </ng-container>
            <ng-container *ngIf="!updateFilled">
                <span class="mat-display-2">{{newestUpdate.title}}</span>
                <span class="mat-subheading-1" style="float: right">
                    <b>Posted: </b>{{newestUpdate.date.toDateString()}}<br>
                    <b>Author: </b>{{newestUpdate.author.firstName + ' ' + newestUpdate.author.lastName}}
                </span>
                <mat-divider></mat-divider>
                <markdown [data]="markdown"></markdown>
            </ng-container>
        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>