<div class="page-layout carded left-sidebar">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="carded-left-sidebar-1" position="left" lockedOpen="gt-md">

        <!-- SIDEBAR HEADER -->
        <div class="header p-24 accent">
            <!-- <h2 class="m-0">Recent News Posts</h2> -->
        </div>
        <!-- / SIDEBAR HEADER -->

        <!-- SIDEBAR CONTENT -->
        <div class="content p-24">
            <div class="demo-sidebar">
                <mat-nav-list>
                    <h3 matSubheader>Recent News Posts</h3>
                    <ng-container *ngFor="let update of updates">
                        <a mat-list-item (click)="updateFill(update)"> {{ update.title }} </a>
                        <mat-divider></mat-divider>
                    </ng-container>
                </mat-nav-list>
            </div>

        </div>
        <!-- / SIDEBAR CONTENT -->

    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header accent p-24">
            <ng-container *ngIf="updateFilled">
                <span class="mat-display-3 m-0">News</span>
            </ng-container>

            <ng-container *ngIf="!updateFilled">
                <span class="mat-display-3 m-0">Latest News Post</span>
            </ng-container>
        </div>
        <!-- / CONTENT HEADER -->
        <!-- ADD EVENT BUTTON -->
        <button mat-fab class="fab-container mat-accent" aria-label="Add event" [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}"
            *ngIf="authService.isAdmin()" (click)="openDialog()">
            <mat-icon>add</mat-icon>
        </button>
        <!-- / ADD EVENT BUTTON -->
        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8" fxHide.gt-md>

                <button mat-icon-button class="sidebar-toggle" fxHide.gt-md (click)="toggleSidebar('carded-left-sidebar-1')">
                    <mat-icon>menu</mat-icon>
                </button>

                <span>Select A Post</span>

            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">
                <ng-container *ngIf="updateFilled">
                    <span class="mat-display-2">{{update.title}}</span>
                    <ng-container *ngIf="authService.isAdmin()">
                        <span style="float: right">
                            <button mat-icon-button color="warn" (click)="delete(update)">
                                <mat-icon aria-label="Delete">delete</mat-icon>
                            </button>
                        </span>
                    </ng-container>
                    <span class="mat-subheading-1" style="float: right">
                        <b>Posted: </b>{{update.date.toDateString()}}<br>
                        <b>Author: </b>{{update.author.firstName + ' ' + update.author.lastName}}
                    </span>
                    <mat-divider></mat-divider>
                    <markdown [data]="markdown"></markdown>
                </ng-container>
                <ng-container *ngIf="!updateFilled">
                    <span class="mat-display-2">{{newestUpdate.title}}</span>
                    <ng-container *ngIf="authService.isAdmin()">
                        <span style="float: right">
                            <button mat-icon-button color="warn" (click)="delete(newestUpdate)">
                                <mat-icon aria-label="Delete">delete</mat-icon>
                            </button>
                        </span>

                        <span class="mat-subheading-1" style="float: right">
                            <b>Posted: </b>{{newestUpdate.date.toDateString()}}<br>
                            <b>Author: </b>{{newestUpdate.author.firstName + ' ' + newestUpdate.author.lastName}}
                        </span>
                    </ng-container>
                    <mat-divider></mat-divider>
                    <markdown [data]="markdown"></markdown>
                </ng-container>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>