<div class="page-layout simple left-sidebar">

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="simple-left-sidebar-1" position="left" lockedOpen="gt-md">

        <!-- SIDEBAR CONTENT -->
        <div class="content p-24">
            <div class="demo-sidebar">
                <mat-nav-list>
                    <h3 matSubheader>Recent News Posts</h3>
                    <ng-container *ngFor="let update of updates">
                        <a mat-list-item (click)="singleUpdateSet(update)"> {{ update.title }} </a>
                        <mat-divider></mat-divider>
                    </ng-container>
                </mat-nav-list>
            </div>
            
        </div>
        <!-- / SIDEBAR CONTENT -->

    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
                    (click)="toggleSidebar('simple-left-sidebar-1')">
                <mat-icon>menu</mat-icon>
            </button>

            <!-- <h2 class="m-0">CA-782 News</h2> -->
            <span class="mat-display-3 m-0">News</span>


        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24">
            Hello
        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
