<div class="row">
  <nb-card accent="success" class="col-8 col-md-6">
    <nb-card-header>Welcome<span style="float: right">Friday (09/19/18)</span></nb-card-header>
    <nb-card-body><p>Hello from the Development Team! We hope you enjoy version 1.1.1 of the project. Expect many updates in the near future, but 
      do not fear, for the site as you will know and get used to will not change, only improve on bugs and added features.
      <br>
      <br>
      This project is still in the early phases of developement, so if you notice anything funky or strange going on send us an email. Feel free to let us 
      know about any bugs you might notice, or even ideas you would like to see implemented in the future! <a href="#">eruditionlabs@gmail.com</a>
      <br>
      <br>
      We hope you enjoy the website, and use it to it's fullest capabilities!
      <br>
      <br>
      Sincerely,<br>
      The Dev Team</p>
    </nb-card-body>
    <nb-card-footer> 
      <nb-user size="large"
      name="Erudition Labs"
      title="Developers"
      badgeText="99+"
      badgeStatus="success"
      badgePosition="bottom right">
      </nb-user>
    </nb-card-footer>
  </nb-card>
  <div style="padding: 0 10px"></div>
  <nb-card accent="success" class="col-6 col-md-4">
      <nb-card-header>Website Code Of Conduct</nb-card-header>
      <nb-card-body>
          <h2>The Core Values</h2>
          <ul>
            <li>Integrity First</li>
            <li>Service before self</li>
            <li>Excellence in all we do.</li>
          </ul>
      </nb-card-body>
      <nb-card-footer> 
        <nb-user size="large"
        name="Erudition Labs"
        title="Developers"
        badgeText="99+"
        badgeStatus="success"
        badgePosition="bottom right">
        </nb-user>
      </nb-card-footer>
    </nb-card>
</div>
