@import '../../../variables';

.card {
	border-radius: 4px;
	@include light-shadow

}

.mat-card {
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	max-width: 425px;

}

mat-divider {
	margin: 10px 0px;
}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button {
	margin-top: 10px;
}
