<div class="row">
  
      
  <ng-container *ngIf="!singleUpdate && !addUpdateClicked">
    <div *ngFor="let update of updates" class="col-xxxl-3 col-md-6 box">
      <nb-card accent="active" size="small">
        <nb-card-header>{{update.title}} <span style="float: right;"><i>{{update.date.toDateString()}}</i></span></nb-card-header>
        <nb-card-body>
          {{update.content}}
          <span class="divLink" (click)="singleUpdateSet(update)">UPDATE URL</span>
        </nb-card-body>
        <nb-card-footer>
          <nb-user
          name="{{update.author.firstName + ' ' + update.author.lastName}}"
          title="{{update.author.rank}}"
          badgeText="{{update.author.team}}"
          badgeStatus="success"
          badgePosition="bottom right">
          </nb-user>
          
        </nb-card-footer>
      </nb-card>
    </div>
  </ng-container>
  
  <ng-container *ngIf="singleUpdate">
    <div class="col-md-8">
      <nb-card size="xxlarge" accent="active">
          <nb-card-header>
            <i>Update</i>
          </nb-card-header>
          <nb-card-body>
              <div class="font-row font-secondary">
                <div class="header">
                  <div class="name bold">{{update.title}}</div>
                    <div class="variants">
                      <span class="font-w-light">{{update.date.toDateString()}}</span>
                    </div>
                </div>
                <p>
                  {{update.content}}
                </p>
              </div>  
          </nb-card-body>
          <nb-card-footer>
            <button class="btn btn-hero-primary btn-demo" (click)="back()">Back</button>
            <span style="float:right;" *ngIf="authService.isAdmin()">
                <button class="btn btn-outline-success btn-icon btn-tn" style="font-size: 2em; padding: 1px 3px;" (click)="back()"><i class="nb-edit"></i></button>
                <span style="margin: 0 2px;"></span>
                <button class="btn btn-outline-danger btn-icon btn-tn" style="font-size: 2em; padding: 1px 3px;" (click)="back()"><i class="nb-trash"></i></button>
            </span>
          </nb-card-footer>
      </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card size="xsmall" accent="info">
            <nb-card-header>
              <span style="float: right;"><i>The Author</i></span>
            </nb-card-header>
            <nb-card-body>
                <div class="font-row font-main">
                  <div class="header">
                    <div class="name bold">{{update.author.firstName}} {{update.author.lastName}}</div>
    
                    <div class="variants">
                      <span class="font-w-regular">{{update.author.rank}}</span>
                    </div>
                  </div>
                </div>
                  <nb-user size="large"
                    name="{{update.author.firstName}} {{update.author.lastName}}"
                    title="{{update.author.rank}}"
                    badgeText="{{update.author.team}}"
                    badgeStatus="success"
                    badgePosition="bottom right">
                 </nb-user>
            </nb-card-body>
        </nb-card>
      </div>
  </ng-container>

  <ng-container *ngIf="addUpdateClicked && !singleUpdate && authService.isAdmin()">
      <div class="col-md-12">
        <nb-card size="xxlarge" accent="active">
          <ng-container [formGroup]="updateForm">
            <nb-card-header>
              <i>Add Post</i>
            </nb-card-header>
            <nb-card-body>
                <div class="font-row font-secondary">
                  <div class="header">
                    <div class="name bold">
                      <input [formControl]="updateForm.get('title')" type="text" placeholder="Title of Post" class="form-textbox">
                    </div>  
                  </div>
                  <p>
                    <textarea [formControl]="updateForm.get('content')" rows="30" placeholder="Content of Update" class="form-textarea"></textarea>
                  </p>
                </div>  
            </nb-card-body>
            <nb-card-footer>
              <button class="btn btn-hero-primary btn-demo" (click)="back()">Back</button>
              <span style="float:right;" *ngIf="authService.isAdmin()">
                  <button class="btn btn-hero-info btn-demo" (click)="onClick()">Post</button>
              </span>
            </nb-card-footer>
          </ng-container>
        </nb-card>
      </div>
    </ng-container>
</div>

<div class="fab-container" *ngIf="authService.isAdmin() && !addUpdateClicked">
	<button mat-fab 
		color="primary"
		(click)="createUpdate();">
		<mat-icon class="ion-plus-round">
		</mat-icon>
	</button> 
</div>