<div class="container">
	<div [formGroup]="signupForm">
		<mat-card>
			<mat-card-header>
				<mat-card-title>Sign Up</mat-card-title>
			</mat-card-header>

			<mat-card-content>
				<mat-list>
					<mat-list-item>
						<mat-form-field appearance="outline">
							<mat-label>Email</mat-label>
							<input matInput placeholder="Email" 
											[formControl]="signupForm.get('email')">
					<!---<mat-icon matSuffix>envelope</mat-icon>-->
							<mat-error
								*ngIf="signupForm.get('email').hasError('required') ||
								signupForm.get('email').dirty">
								Email is <strong>required</strong>
							</mat-error>

							<mat-error
								*ngIf="signupForm.get('email').hasError('email') &&
								signupForm.get('email').dirty">
								Valid email <strong>required</strong>
							</mat-error>

							<mat-error
								*ngIf="signupForm.get('email').errors &&
								signupForm.get('email').errors.emailTaken &&
								signupForm.get('email').dirty">
								That email is taken
							</mat-error>
						</mat-form-field>
					</mat-list-item>

					<mat-list-item>
						<mat-form-field appearance="outline">
							<mat-label>Password</mat-label>
							<input matInput placeholder="Password"
											type="password"
											[formControl]="signupForm.get('password')">

							<mat-error
								*ngIf="signupForm.get('password').hasError('required') ||
								signupForm.get('password').dirty">
								Password is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					</mat-list-item>

						
					<mat-list-item>
						<mat-form-field appearance="outline">
							<mat-label>First Name</mat-label>
							<input matInput placeholder="First Name"
											[formControl]="signupForm.get('firstName')">

							<mat-error
								*ngIf="signupForm.get('firstName').hasError('required') ||
								signupForm.get('firstName').dirty">
								First Name is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					</mat-list-item>


					<mat-list-item>
						<mat-form-field appearance="outline">
							<mat-label>Last Name</mat-label>
							<input matInput placeholder="Last Name"
											[formControl]="signupForm.get('lastName')">

							<mat-error
								*ngIf="signupForm.get('lastName').hasError('required') ||
								signupForm.get('lastName').dirty">
								Last Name is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					</mat-list-item>


					<mat-list-item>
						<mat-form-field appearance="outline">
							<mat-label>Rank</mat-label>
							<input matInput placeholder="Rank"
											[formControl]="signupForm.get('rank')">

							<mat-error
								*ngIf="signupForm.get('rank').hasError('required') ||
								signupForm.get('rank').dirty">
								Rank is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					</mat-list-item>

					<mat-list-item>
						<mat-form-field appearance="outline">
							<mat-label>Flight</mat-label>
							<input matInput placeholder="Flight"
											[formControl]="signupForm.get('flight')">

							<mat-error
								*ngIf="signupForm.get('flight').hasError('required') ||
								signupForm.get('flight').dirty">
								Flight is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					</mat-list-item>

					<mat-list-item>
						<mat-form-field appearance="outline">
							<mat-label>Team</mat-label>
							<input matInput placeholder="Team"
											[formControl]="signupForm.get('team')">

							<mat-error
								*ngIf="signupForm.get('team').hasError('required') ||
								signupForm.get('team').dirty">
								Team is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					</mat-list-item>

				</mat-list>
			</mat-card-content>

			<mat-card-actions>
				<button mat-raised-button color="primary">Submit</button>
			</mat-card-actions>
		</mat-card>
	</div>
</div>
