<div class="row">
  <div class="col-md-8">
    <nb-card>
      <nb-card-header>
        Profile
      </nb-card-header>
      <nb-card-body>
        <div class="font-row font-secondary">
          <div class="header">
            <div class="name bold">Tristan Hull</div>

            <div class="variants">
              <span class="font-w-light">Captain</span>
            </div>
          </div>
          <p>
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
            there live the blind texts.
            Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
          </p>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>
