<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        Profile
      </nb-card-header>
      <nb-card-body>
        <div class="font-row font-secondary">
          <div class="header">
            <div class="name bold">{{user?.firstName}} {{user?.lastName}}</div>

            <div class="variants">
              <span class="font-w-light">{{user?.rank}}</span>
            </div>
          </div>
          <p>
          </p>
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <tbody>
                <tr>
                  <th class="text-nowrap" scope="row">Email:</th>
                  <td>{{user?.email}}</td>
                </tr>
                <tr>
                  <th class="text-nowrap" scope="row">Phone:</th>
                  <td>{{user?.phone}}</td>
                </tr>
                <tr>
                  <th class="text-nowrap" scope="row">Rank:</th>
                  <td>{{user?.rank}}</td>
                </tr>
                <tr>
                  <th class="text-nowrap" scope="row">Flight:</th>
                  <td>{{user?.flight}}</td>
                </tr>
                <tr>
                  <th class="text-nowrap" scope="row">Team:</th>
                  <td>{{user?.team}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card>
      <nb-card-body>
        <nb-user size="large"
                 name="{{user?.firstName}} {{user?.lastName}}"
                 title="{{user?.rank}}"
                 badgeText="{{user?.team}}"
                 badgeStatus="success"
                 badgePosition="bottom right">
        </nb-user>
      </nb-card-body>
    </nb-card>
  </div>
</div>
